[submodule "scripts/python/UStream-recorder"]
	path = scripts/python/UStream-recorder
	url = git@github.com:kenorb/UStream-recorder.git
[submodule "other/adamv"]
	path = other/adamv
	url = https://github.com/adamv/dotfiles
[submodule "mathiasbynens"]
	path = other/mathiasbynens
	url = https://github.com/mathiasbynens/dotfiles
[submodule "cowboy"]
	path = other/cowboy
	url = https://github.com/cowboy/dotfiles
[submodule "bin"]
	path = bin
	url = https://github.com/kenorb/binfiles
[submodule "git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git
[submodule "bsclifton"]
	path = other/bsclifton
	url = https://github.com/bsclifton/dotfiles
