[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
bitcoin = "*"
bs4 = "*"
huggingface-hub = "*"
jinja2 = "*"
parquet-tools = "*"
pre-commit = "*"
ratarmount = "*"
tg-archive = "*"
vastai = "*"

[dev-packages]
ansible-lint = "*"

[requires]
python_version = "3.12"
