[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
jinja2 = "*"
pyyaml = "*"
numpy = "*"
pandas = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.12"
